apps/kestra/flows/code-health-on-demand.yaml
id: code-health-on-demand
namespace: dev.sentinel
description: "On-demand code health summary using Kestra AI Agent"

inputs:
  - id: repo
    type: STRING
    defaults: "demo/dev-sentinel"

tasks:
  - id: ai_summary
    type: io.kestra.plugin.ai.agent.AIAgent
    prompt: |
      You are a senior engineering code health analyst.
      Summarize code health for repo: {{ inputs.repo }}.

      Provide:
      1) A 2-3 line narrative summary
      2) 3 highlights
      3) 3 risks
      4) 1 recommended next action

      Use concise bullet points.

  - id: build_summary_contract
    type: io.kestra.plugin.core.debug.Return
    format: json
    values:
      repo: "{{ inputs.repo }}"
      timestamp: "{{ now() }}"
      narrative: "{{ outputs.ai_summary.text }}"
      highlights:
        - "Kestra AI Agent generated this summary"
      warnings:
        - "Dependency drift likely present (demo assumption)"

outputs:
  - id: summary
    type: JSON
    value: "{{ outputs.build_summary_contract }}"
